body{
    /* border: 2px solid blue; */
    width: 50%;
    background-color: rgb(3, 24, 255);
    color: white;
    
}

.container{
    /* border: 2px solid white; */
    background-color: rgb(100, 17, 168);
    margin: 70px;
    width: 70%;
    color: red;
}

.guessButton{
    /* border: 2px solid red; */
    width: 80%;
    text-align: center;
    font-size: 50px;
}